click
# pycopy-copy
Flask
Flask-SQLAlchemy
Flask-Mail
flask_mail
itsdangerous
Jinja2
MarkupSafe
python-dotenv
SQLAlchemy
Werkzeug
WTForms
bs4
pdf-tools

PyPDF2
pdfplumber
unicode
pdf2image
pytesseract
# fitz
# pdfminer
# pdfquery
wheel
datefinder
pdfrw
# zlib
# tika

pandas
openpyxl
dateparser
xlrd==1.2.0
webdriver-manager
# pdfminer.six
# textract

# tika
# more-itertools
# pdfplumber
# tabula
# tabulate
# pdfminer
# pprintpp
# camelot-py
# camelot-py[cv]
lxml
pdfreader

text-extractor
requests
beautifulsoup4
selenium
PyMySQL
isoweek

flake8
black
pytest
