click
Flask
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
python-dotenv
SQLAlchemy
Werkzeug
WTForms

PyPDF2
more-itertools

pdfplumber
tabula
tabulate
pandas
pdfminer
pdfminer.six
pprintpp
camelot-py
camelot-py[cv]
lxml

text-extractor
requests
beautifulsoup4
selenium

flake8
black
pytest