click
# pycopy-copy
Flask
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
python-dotenv
SQLAlchemy
Werkzeug
WTForms

PyPDF2
datefinder
pandas
xlrd=1.2.0
# pdfminer.six
# textract

# tika
# more-itertools
# pdfplumber
# tabula
# tabulate
# pdfminer
# pprintpp
# camelot-py
# camelot-py[cv]
lxml
pdfreader

text-extractor
requests
beautifulsoup4
selenium

flake8
black
pytest
